.company-details {
    border: 2px solid #5BBCFF;
    padding: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.user-metrics .description textarea {
    border: 2px solid #5BBCFF;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.locations {
    border: 1px solid #5BBCFF;
}

.locations li {
    padding: 5px;
}

.portfolio {
    border: 1px solid #5BBCFF;
}

.skills {
    border: 1px solid #5BBCFF;
}

.logo-box {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.logo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-box input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.about #ceo,
.about #revenue,
.about #founded,
.about #industry,
.about #head,
.about #size {
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 20px;
}

.reviews {
    border: 1px solid #5BBCFF;
}

.reviews #comment {
    border: 1px solid black;
    padding: 6px;
}