<div *ngFor="let job of jobs" class="d-flex bg-white rounded shadow flex-column  card_size">
    <div>
        <img [src]="job.imageUrl" alt="{{ job.title }}" width="200px" height="200" />
        <div>
            <h6>{{ job.title }}</h6>
            <p>{{ job.company }}</p>
        </div>
    </div>
    <div>
        <div>
            <p>{{ job.location }}</p>
        </div>
        <div>
            <p>{{ job.salary }}</p>
        </div>
        <div>
            <p>{{ job.type }}</p>
        </div>
        <div>
            <p>{{ job.date }}</p>
        </div>
    </div>
    <button class="btn btn-primary" (click)="showJobDetails(job)">Details</button>
</div>

<app-job-details-popup *ngIf="showPopup" [jobDetails]="selectedJobDetails" (closePopupEvent)="closePopup()"></app-job-details-popup>