.card_size{
    width: 350px;
    height: fit-content;
   margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
   
}
.details{
   padding-left: 2rem;
}   
.details p{
    width: fit-content;
}