<div class="d-flex container bg-white rounded shadow flex-column card_size">
  <div class="row">
    <div class="col">
      <img
        src="../../assets/amazon-logo.webp"
        alt="{{ jobs.title }}"
        width="100px"
        height="100"
      />
    </div>

    <div class="col mt-4">
      <h6>{{ jobs.title }}</h6>
      <p>{{ jobs.company }}</p>
    </div>
  </div>

  <div class="row row-cols-2 .details">
    <div class="col mb-2 d-flex">
      <span>📍</span>
      <p>{{ jobs.location }}</p>
    </div>
    <div class="col mb-2 d-flex">
      <span>💰</span>
      <p>{{ jobs.salary }}</p>
    </div>
    <div class="col mb-2 d-flex">
      <span>📋</span>
      <p>{{ jobs.type }}</p>
    </div>
    <div class="col mb-2 d-flex">
      <span>📆</span>
      <p>{{ jobs.date }}</p>
    </div>
  </div>
  <button class="btn btn-primary" (click)="showJobDetails(jobs)">
    Details
  </button>
</div>

<app-job-details-popup
  *ngIf="showPopup"
  [jobDetails]="selectedJobDetails"
  (closePopupEvent)="closePopup()"
></app-job-details-popup>
