<!-- app.component.html -->
<app-nav-bar></app-nav-bar>
<div class="container">
    <table class="center-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Job Title</th>
                <th>Date</th>
                <th>CV</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>amr&commat;gmail.com</td>
                <td>React Front-End Developer</td>
                <td>9-May-2024</td>
                <td>Data 4</td>
            </tr>
        </tbody>
    </table>
</div>