<div class="flex justify-center items-center h-screen">
    <div class="flex flex-col justify-center items-center box p-6">
        <h2 class="mb-3">Register As Company</h2>
        <form action="" class="flex flex-col gap-4">
            <input type="text" placeholder="Company Name">
            <input type="text" placeholder="Address" required>
            <input type="number" placeholder="Phone Number" required>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password" required>
            <div class="terms flex items-center gap-2">
                <input type="checkbox" id="termsCheckbox">
                <label for="termsCheckbox">I accept the Terms of Use & Privacy Policy</label>
            </div>
            <input type="submit" class="cursor-pointer" value="Register">
            <div class="flex flex-row gap-3">
                <p>Already Have An Account ?</p>
                <button class="underline"><a routerLink="/login">Login</a></button>
            </div>
        </form>
    </div>
</div>
