<app-nav-bar></app-nav-bar>
<div class="container">
    <div>
        <h1 class="text-[#3276FA]">Job Application</h1>
        <form action="" class="flex flex-col">
            <div class="flex flex-row gap-2">
                <div class="flex flex-col">
                    <label class="mb-1 pl-1" for="firstName">First Name</label>
                    <input type="text" placeholder="Enter First Name">
                </div>
                <div class="flex flex-col ">
                    <label class="mb-1 pl-1" for="lastName">Last Name</label>
                    <input type="text" placeholder="Enter Last Name">
                </div>
            </div>
            <div class="flex flex-row gap-2">
                <div class="flex flex-col">
                    <label class="mb-1 pl-1" for="lastName">Email</label>
                    <input type="email" placeholder="Enter Your Email">
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 pl-1" for="lastName">City</label>
                    <input type="text" placeholder="Enter Your City">
                </div>
            </div>
            <div class="flex flex-col">
                <label class="mb-1 pl-1" for="Address">Address</label>
                <textarea name="Address" placeholder="Enter Your Address"></textarea>
            </div>
            <div class="flex flex-col">
                <label class="mb-1 pl-1" for="Address">Date</label>
                <input type="date" class="p-2">
            </div>
            <div class="flex flex-col">
                <label class="mb-1 pl-1" for="Address">Upload Your CV</label>
                <input type="file">
            </div>

            <input type="submit" class="bg-[#3276FA] text-white w-[130px] m-auto">
        </form>
    </div>

</div>