<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>web Portal</title>
</head>

<body>
    <app-nav-bar></app-nav-bar>
    <div class="container">

        <div class="row">
            <app-search-bar></app-search-bar>
        </div>

        <div class="row row-cols-3">
            <div class="col right_col">
                <app-side-filter></app-side-filter>
            </div>
            <div class="col-8 left_col">
                <app-card-holder></app-card-holder>
                <div class="container">
                    <div class="row row-cols-3 ">
                        <div class="col">
                            <app-job-card></app-job-card>
                        </div>
                        <div class="col">
                            <app-job-card></app-job-card>
                        </div>
                        <div class="col">
                            <app-job-card></app-job-card>
                        </div>
                        <div class="col">
                            <app-job-card></app-job-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<router-outlet></router-outlet>
