<div class="flex justify-center items-center h-screen">
    <div class="flex flex-col justify-center items-center box p-6">
        <h2>LOGIN</h2>
        <form action="" class="flex flex-col gap-4">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <div class="btns">
                <input type="submit" value="Login">
                <p>Don't have an account Yet ?</p>
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
