<div class="container_aside">
    <aside>
        <div class="d-flex flex-column">
            <h6>Salary</h6>
        </div>
        <div>
            <div class="slider-container">
                <div class="range-labels d-flex">
                    <div class="dollar-input-container">
                        <input type="text" class="dollar-input">
                    </div>
                    <div class="dollar-input-container">
                        <input type="text" class="dollar-input">
                    </div>
                </div>
                <input type="range" min="0" max="100" value="25" class="slider" id="lower" />
                <input type="range" min="0" max="100" value="75" class="slider" id="upper" />
            </div>
        </div>
        <div>
            <h6>Job Type</h6>
            <ul class="my-list">
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Full-time</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Part-time</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>internship</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Contract</label>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <h6>Work Setting</h6>
            <ul class="my-list">
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>On-Site</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Hybrid</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Fully Remote</label>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <h6>Career Level</h6>
            <ul class="my-list">
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Entry Level(Junior)</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Intermidate Level(Senior)</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>Advanced Level (Manager)</label>
                    </div>
                </li>
                <li>
                    <div class="target-div">
                        <input type="checkbox" />
                        <label>C-level (Chief)</label>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</div>
