<section>
    <form  class="d-flex flex-row h-50 align-items-center justify-content-center form_control " >
        <div>
            <input class="form-control border-0 m-2   " type="text" placeholder="Search for a job" />
        </div>
        <div>
            <input class="form-control border-0"  name="l" enterkeyhint="search" type="text"  placeholder="location" maxlength="512"  value="">
        </div>
        <button class="bg-primary text-white rounded-5 px-3 py-2   border-0">Search</button>
    </form>
</section>