<app-nav-bar></app-nav-bar>
<div class="mt-[100px]">
    <div class="header bg-[#3276FA]">
        <h2 class="text-white pl-4 p-4">User Profile</h2>
    </div>
    <div class="container mx-auto px-4 py-8 lg:px-20 xl:px-32 flex justify-center items-start gap-4">
        <div class="user-details  text-white">
            <div class="info flex gap-4">
                <div class="flex flex-col gap-2">
                    <img src="../../../assets/images.jpeg" alt="">
                    <div class="metrics flex flex-col text-dark gap-2">
                        <div>
                            <span>💲</span>
                            <input type="text" class="w-[20px] pr-1 pl-1" [disabled]="!isEditingProfile" [(ngModel)]="hourlyRate">
                            <span class="pl-2">USD/hr.</span>
                        </div>
                        <div>
                            <span>🌐</span>
                            <input type="text" class="p-1" [disabled]="!isEditingProfile" [(ngModel)]="country">
                        </div>
                        <div>
                            <span>👍</span>
                            <span>0 Recommendations</span>
                        </div>
                        <div>
                            <span>✅</span>
                            <span>0 Jobs Completed</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col bg-[#3276FA] p-4">
                    <div class="text">
                        <div class="flex flex-row justify-between">
                            <p id="username" class="mb-4">John Doe &commat;johnDoe12</p>
                            <button class="btn bg-white text-dark mr-3" (click)="toggleEditProfile()">{{ isEditingProfile ? 'Save Profile' : 'Edit Profile' }}</button>
                        </div>
                        <p id="jobTitle" class="mb-4">Front-End Developer</p>
                    </div>
                    <div class="description">
                        <textarea class="text-slate-900" name="desc" rows="6" cols="65" placeholder="Describe Your Job and Experience in Detail" [disabled]="!isEditingProfile" [(ngModel)]="description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="verification bg-[#3276FA] text-white ">
            <ul>
                <li class="flex items-center justify-between gap-7 mb-3">
                    <div>
                        <i class="fa fa-address-card"></i> Identity Verification
                    </div>
                    <a href="#" class="text-[white]">Verify</a>
                </li>
                <li class="flex items-center justify-between gap-7 mb-3">
                    <div>
                        <i class="fa fa-credit-card"></i> Payment Verification
                    </div>
                    <a href="#" class="text-[white]">Verify</a>
                </li>
                <li class="flex items-center justify-between gap-7 mb-3">
                    <div>
                        <i class="fa fa-phone"></i> Phone Verification
                    </div>
                    <a href="#" class="text-[white]">Verify</a>
                </li>
                <li class="flex items-center justify-between gap-7 mb-3">
                    <div>
                        <i class="fa fa-envelope"></i> E-mail Verification
                    </div>
                    <a href="#" class="text-[white]">Verify</a>
                </li>
                <li class="flex items-center justify-between gap-7 mb-3">
                    <div>
                        <i class="fa fa-facebook"></i> Facebook Connection
                    </div>
                    <a href="#" class="text-[white]">Verify</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mx-auto px-4 py-8 lg:px-20 xl:px-32 flex justify-center items-start gap-4">
        <div class="portfolio w-[837px] ">
            <h3 class="w-[100%] p-2 text-white bg-[#3276FA]">Portfolio</h3>
            <div class="upload flex flex-col justify-center items-center p-[70px]">
                <!-- Input field for uploading photos -->
                <input type="file" (change)="onFilesSelected($event)" accept="image/*" multiple>

                <!-- Display uploaded images -->
                <div class="uploaded-images flex items-start justify-start">
                    <img *ngFor="let item of portfolioItems" [src]="item" alt="Portfolio Image" class="w-20 h-20 object-cover m-1">
                </div>

                <!-- Message if no photos uploaded -->
                <div *ngIf="!portfolioItems.length" class="text-gray-500">No portfolio items have been added yet</div>
            </div>
        </div>
        <div class="skills w-[300px]">
            <div class="w-[100%] p-2 text-white bg-[#3276FA] flex justify-between">
                <h3 class="">Skills</h3>
                <div>
                    <button class="bg-white text-[#3276FA] mr-2" (click)="addSkill()">Add</button>
                </div>
            </div>
            <div class="flex flex-col gap-3 p-[12px]">
                <div *ngFor="let skill of skills; let i = index">
                    <input type="text" [disabled]="!isEditingProfile" [(ngModel)]="skills[i].name">
                </div>
            </div>
        </div>


    </div>
</div>