<section class="d-flex align-items-center flex-row pos_card_holder">
  <div class="pos_header">
    <h5>5 Search result for 'Designer'</h5>
  </div>
  <div class="d-flex align-items-baseline pos_filter">
    <label for="sort"><pre>Sort by: </pre></label>
    <select id="sort" class="border-0 form-select form-select-sm">
      <optgroup>
        <option value="1">Latest Post</option>
        <option value="2">Newest Post</option>
        <option value="3">Most apply</option>
      </optgroup>
    </select>
  </div>
</section>



